html, body {
    margin: 0;
    padding: 0;
}

.header {
    height: 78px;
    background: #fff;
}

.nav__link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FF0000;
    text-transform: uppercase;
    text-decoration: none;
}

li {
    list-style-type: none;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
}

nav {
    height: 100%;
}

.home {
    padding-left: 36px;
    padding-right: 36px;
}

.photoapp {
    padding-left: 36px;
    padding-right: 36px;
}

.design {
    padding-left: 36px;
    padding-right: 25px;
}

.download {
    padding-left: 25px;
    padding-right: 25px;
}

h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    text-align: center;
    color: #373737;
    margin-top: 49px;
    margin-bottom: 38px;
}

p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin-left: 67.5px;
    margin-right: 67.5px;
    margin-bottom: 28px;
    letter-spacing: 2.4px;
    color: #373737;
}

button {
    width: 191px;
    height: 51px;
    background: #FF0000;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 4px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    justify-content: center;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 84px;
}

footer {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin-top: 190px;
    margin-bottom: 29px;
    margin-left: auto;
    margin-right: 105px;
    justify-content: right;
}
